{% trans_default_domain "PlageWebClient" %}

{% extends 'base.html.twig' %}

{% set hasBreadcrumb = 0 %}
{% set pageTitle = "" %}

{% block title %} {{ 'pyramid.style.title'| trans ~ ' - ' ~ parent() }} {% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block customheaderNav %}
    {% include "components/_workspace_header.html.twig"%}
{% endblock %}

{% block body %}
	{% apply spaceless %}
	<div class="container-content">
        {% set _pyramid = pyramid|json_encode()|raw %}
        {% set _styles = styles|json_encode()|raw %}
        <div class="style">
            {# La carte #}
            <div id="map-target" data-datastoreid={{ datastore._id }} data-pyramid="{{ _pyramid }}" data-styles="{{ _styles }}" data-defstyle="{{ defaultStyle }}"></div>

            {# gestion des styles #}
            <div class="p-1" id="styles">
                <h3>{{ 'pyramid.style.title'|trans }}</h3>
                <p class="help-block wysiwyg">
                    <i class="icon-question text-primary"></i>&nbsp;
                    {{ 'pyramid.style.create_help'|trans({'%create_url%': path('plage_doc')~'#/style' }) | raw }}
                </p>
                <div class="block-import mt-1 text-center">
                    <button class="btn btn-sm btn--ghost btn--primary w-100" id="import-styles">
                        <span class="icon-load-file"></span> {{ 'pyramid.style.import_style'|trans }}                  
                    </button> 
                </div>
                <div id="styles-wrapper"></div>
            </div>
                   
            {# Les outils #}
            <div id="tools">
                <a class="btn"
                    href="{{ path('plage_pyramid_share', {datastoreId: datastore._id, pyramidId: pyramid._id})}}">
                    <i class="icons-share-white"></i><br/>
                    <span>{{ 'pyramid.share.title' | trans }}</span>
                </a>
                <div class="btn active">
                    <i class="icons-style-white"></i><br/>
                    <span>{{ 'pyramid.style.title' | trans }}</span>
                </div>
            </div>   
        </div>
	</div>

    {# template de la boite de dialogue #}
    <template id="template-dlg-multiple">
        <div class="form-multiple">
            <div class="form-group mb-1">
                <label class="control-label required">{{'pyramid.style.name'|trans }}</label>
                <input class="form-control" type="text" id="style-name">
            </div>
            <div class="form-group form-group-custom-control mb-0">
                <fieldset>
                    <legend>{{ 'pyramid.style.file_type'|trans }}</legend>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" class="custom-control-input"  id="file-type-1" name="file-type" value="json" checked="">
                        <label class="custom-control-label" for="file-type-1">json</label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" class="custom-control-input"  id="file-type-2" name="file-type" value="sld">
                        <label class="custom-control-label" for="file-type-2">sld</label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" class="custom-control-input"  id="file-type-3" name="file-type" value="qml">
                        <label class="custom-control-label" for="file-type-3">qml</label>
                    </div>
                </fieldset>
            </div>
            <div class="block-import" id="json-style">
                <label class="btn btn-sm btn--ghost btn--primary w-50" for="json-file">
                    <span class="icon-load-file"></span> {{ 'pyramid.style.import'|trans }}
                </label>
                <input type="file" id="json-file" accept=".json">
                <div class="filename" id="filename-json"></div>
                <p class="description wysiwyg">{{ 'pyramid.style.json_help'|trans|raw }}</p>
            </div>
            <div class="border px-1" id="sld-style" style="display: none;">
                <p class="description wysiwyg">{{ 'pyramid.style.sld_help'|trans }}</p>
            </div>
            <div class="border px-1" id="qml-style" style="display: none;">
                <p class="description wysiwyg">{{ 'pyramid.style.qml_help'|trans }}</p>
            </div>
            <p class="style-error my-1"></p>
        </div>
    </template>
	{% endapply %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
	{{ encore_entry_script_tags('pyramid-style') }}
{% endblock %}
