{% block flashMessages %}
    <div id="flash-messages">
        {% for flashMessage in app.session.flashbag.get('error') %}
            <div class="flash-message flash-message-danger">
                <span class="flash-message-icon icons-alert"></span>
                <div class="flash-message-content">{{ flashMessage }}</div>
                <button class="flash-message-close-btn"><i class="icon-close"></i></button>
            </div>
        {% endfor %}
        {% for flashMessage in app.session.flashbag.get('warning') %}
            <div class="flash-message flash-message-warning">
                <span class="flash-message-icon icons-status text-warning"></span>
                <div class="flash-message-content">{{ flashMessage }}</div>
                <button class="flash-message-close-btn"><i class="icon-close"></i></button>
            </div>
        {% endfor %}
        {% for flashMessage in app.session.flashbag.get('notice') %}
            <div class="flash-message flash-message-info">
                <span class="flash-message-icon icons-status"></span>
                <div class="flash-message-content">{{ flashMessage }}</div>
                <button class="flash-message-close-btn"><i class="icon-close"></i></button>
            </div>
        {% endfor %}
        {% for flashMessage in app.session.flashbag.get('success') %}
            <div class="flash-message flash-message-success">
                <span class="flash-message-icon icon-check-circle"></span>
                <div class="flash-message-content">{{ flashMessage }}</div>
                <button class="flash-message-close-btn"><i class="icon-close"></i></button>
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block javascripts %}
	{{ encore_entry_script_tags('flash-messages') }}
{% endblock %}
